@model List<BreakingGymWebEN.MembresiaEN>
@{
    ViewData["Title"] = "MostrarMembresia";
    Layout = "~/Views/Shared/Ladmin.cshtml";
}


<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="bi bi-people-fill"></i>Lista de Membresías</h4>
            <a asp-action="GuardarMembresia" class="btn btn-success btn-sm"><i class="bi bi-person-plus-fill"></i> Agregar Membresía</a>
        </div>
        <div class="card-body">
            <p class="des">
                En esta sección puedes gestionar las membresías del gimnasio. <br /> Aquí se registran los diferentes tipos de membresías disponibles, permitiendo agregar, modificar y eliminar.
            </p>
            
            <table class="table table-hover table-bordered table-striped align-middle">
                <thead class="TC tN">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">IdServicio</th>
						<th scope="col">Nombre_Servicio</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var membr in Model)
                        {
                            <tr>
                                <td>@membr.Id</td>
                                <td>@membr.Nombre</td>
                                <td>@membr.IdServicio</td>
                                <td>@membr.Nombre_Servicio</td>
                                <td>@membr.Precio</td>
                                <td>@membr.Duracion</td>
                                <td>@membr.Descripcion</td>
                                <td class="text-center">
                                    <a asp-action="ModificarMembresia" asp-route-id="@membr.Id" class="btn btn-warning btn-sm">
                                        <i clas="bi bi-pencil-square"></i>Modificar
                                    </a>
                                    <a asp-action="EliminarMembresia" asp-route-id="@membr.Id" class="btn btn-danger btn-sm">
                                        <i clas="bi bi-trash-fill"></i>Eliminar
                                    </a>

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center text-muted">
                                No hay Membresías disponibles.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        @* Éxitos *@
        @if (TempData["ExitoGuardar"] != null)
        {
                <text>
                    Swal.fire({
                        icon: "success",
                        title: "Éxito",
                        text: "@Html.Raw(TempData["ExitoGuardar"])"
                    });
                </text>
        }
        @if (TempData["ExitoModificar"] != null)
        {
                <text>
                    Swal.fire({
                        icon: "success",
                        title: "Éxito",
                        text: "@Html.Raw(TempData["ExitoModificar"])"
                    });
                </text>
        }
        @if (TempData["ExitoEliminar"] != null)
        {
                <text>
                    Swal.fire({
                        icon: "success",
                        title: "Éxito",
                        text: "@Html.Raw(TempData["ExitoEliminar"])"
                    });
                </text>
        }

        @* Errores *@
        @if (TempData["ErrorDuplicado"] != null)
        {
                <text>
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "@Html.Raw(TempData["ErrorDuplicado"])"
                    });
                </text>
        }
        @if (TempData["CamposVacios"] != null)
        {
                <text>
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "@Html.Raw(TempData["CamposVacios"])"
                    });
                </text>
        }
    });
</script>